*{
    font-family: 'Rubik', sans-serif;
    
}
body{
    transition: background 0.8s, color 0.8s;
}

.cross-todo{
    text-decoration: line-through;
}



.header{
    width: 100%;
    min-height: 100px;
    padding: 0 8%;
    position: relative;
    overflow: hidden;
}

.toggle-btn{
    background: #4864ff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.toggle-btn img{
    width: 25px;
    margin-left: 10px;
}

.dark-theme{
    background-color: #000;
    color: #999;

}